[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
gunicorn = "*"
dj-database-url = "*"
dj-config-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
